---
import { Icon } from "astro-icon/components";

interface Item {
	question: string;
	answer: string;
}

export interface Props {
	title?: string;
	subtitle?: string;
	highlight?: string;
	items: Array<Array<Item>>;
}

const {
	title = await Astro.slots.render("title"),
	subtitle = await Astro.slots.render("subtitle"),
	highlight,
	items = [],
} = Astro.props;
---

<div class="mx-auto max-w-6xl px-4 py-16 lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		{
			(title || subtitle || highlight) && (
				<div class="mb-10 max-w-xl md:mx-auto md:mb-12 md:text-center lg:max-w-2xl">
					{highlight && (
						<p
							class="text-base font-semibold uppercase tracking-wide text-primary dark:text-blue-200"
							set:html={highlight}
						/>
					)}
					{title && (
						<h2
							class="mb-4 max-w-lg font-heading text-3xl font-bold leading-none sm:text-4xl md:mx-auto md:tracking-tight"
							set:html={title}
						/>
					)}
					{subtitle && <p class="mx-auto max-w-3xl text-xl text-muted dark:text-slate-400" set:html={subtitle} />}
				</div>
			)
		}
	</div>
	<div class="max-w-7xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-2 lg:gap-x-16">
			{
				items &&
					items.map((subitems) => (
						<div class="space-y-8">
							{subitems.map(({ question, answer }) => (
								<div>
									<h3 class="mb-4 text-xl font-bold">
										<Icon name="tabler:arrow-down-right" class="inline-block h-7 w-7 text-primary" />
										{question}
									</h3>
									{answer && <div class="text-muted dark:text-gray-400" set:html={answer} />}
								</div>
							))}
						</div>
					))
			}
		</div>
	</div>
</div>
